<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Projects - Luz y Foco Eventos</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/Bootstrap-4---Payment-Form.css">
    <link rel="stylesheet" href="/assets/css/Bootstrap-4---Table-Fixed-Header.css">
    <link rel="stylesheet" href="/assets/css/Data-Table-styles.css">
    <link rel="stylesheet" href="/assets/css/Data-Table.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="/assets/css/Ludens-Users---3-Profile.css">
    <link rel="stylesheet" href="/assets/css/Table-With-Search-search-table.css">
    <link rel="stylesheet" href="/assets/css/Table-With-Search.css">
</head>

<body>
<div th:replace="plantilla.html::menu"></div>
    <section class="py-5">
        <div class="container bg-dark py-5">
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2">Nuestros servicios</p>
                    <h3 class="fw-bold">¿Cómo podemos ser parte de tu historia?</h3>
                </div>
            </div>
            <div class="py-5 p-lg-5">
                <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                    <div class="col mb-5">
                        <div class="card shadow-sm" style="border-radius: 29px;">
                            <div class="card-body px-4 py-5 px-md-5" style="color: var(--bs-body-color);background: var(--bs-body-bg);border-radius: 30px;">
                                <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-chat-heart-fill text-success">
                                        <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15Zm0-9.007c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"></path>
                                    </svg></div>
                                <h5 class="fw-bold card-title">Pre-Boda</h5><span class="badge bg-primary">RD$1,000</span>
                                <p class="text-muted card-text mb-4">Descubre la magia de anticipar el amor con nuestro exclusivo paquete de Fotos de Pre-Boda.&nbsp;</p><button class="btn btn-primary shadow" type="button">Añadir al carrito</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card shadow-sm" style="border-radius: 29px;">
                            <div class="card-body px-4 py-5 px-md-5" style="background: var(--bs-body-bg);border-radius: 29px;">
                                <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-through-heart-fill text-success">
                                        <path fill-rule="evenodd" d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l3.103-3.104a.5.5 0 1 1 .708.708L4.5 12.207V14a.5.5 0 0 1-.146.354l-1.5 1.5ZM16 3.5a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182A23.825 23.825 0 0 1 5.8 12.323L8.31 9.81a1.5 1.5 0 0 0-2.122-2.122L3.657 10.22a8.827 8.827 0 0 1-1.039-1.57c-.798-1.576-.775-2.997-.213-4.093C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3Z"></path>
                                    </svg></div>
                                <h5 class="fw-bold card-title">Boda</h5><span class="badge bg-primary">RD$5,000</span>
                                <p class="text-muted card-text mb-4">Transforma el día más especial de tu vida en un cuento de hadas eterno con nuestro paquete de Fotografías para tu Boda.</p><button class="btn btn-primary shadow" type="button"><strong>Añadir al carrito</strong></button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card shadow-sm" style="border-radius: 30px;">
                            <div class="card-body px-4 py-5 px-md-5" style="background: var(--bs-body-bg);border-radius: 30px;">
                                <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-balloon-fill text-success">
                                        <path fill-rule="evenodd" d="M8.48 10.901C11.211 10.227 13 7.837 13 5A5 5 0 0 0 3 5c0 2.837 1.789 5.227 4.52 5.901l-.244.487a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.244-.487ZM4.352 3.356a4.004 4.004 0 0 1 3.15-2.325C7.774.997 8 1.224 8 1.5c0 .276-.226.496-.498.542-.95.162-1.749.78-2.173 1.617a.595.595 0 0 1-.52.341c-.346 0-.599-.329-.457-.644Z"></path>
                                    </svg></div>
                                <h5 class="fw-bold card-title">Clumpleaños&nbsp;</h5><span class="badge bg-primary">RD$3,000</span>
                                <p class="text-muted card-text mb-4">Captura la alegría, la emoción y la diversión de tu día especial de manera vibrante con nuestro paquete de Cumpleaños.</p><button class="btn btn-primary shadow" type="button"><strong>Añadir al carrito</strong></button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card shadow-sm" style="border-radius: 31px;">
                            <div class="card-body px-4 py-5 px-md-5" style="background: var(--bs-body-bg);border-radius: 31px;">
                                <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-camera-video-fill text-success">
                                        <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"></path>
                                    </svg></div>
                                <h5 class="fw-bold card-title">Video del evento</h5><span class="badge bg-primary">RD$4,000</span>
                                <p class="text-muted card-text mb-4">Transforma tu evento en un recuerdo tangible donde se guardará cada momento emotivo con nuestro paquete de Video.</p><button class="btn btn-primary shadow" type="button"><strong>Añadir al carrito</strong></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-dark"></footer>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
    <script src="/assets/js/DataTable---Fully-BSS-Editable-style.js"></script>
    <script src="/assets/js/bold-and-dark.js"></script>
    <script src="/assets/js/Bootstrap-4---Payment-Form-script.js"></script>
    <script src="/assets/js/Table-With-Search-search-table.js"></script>
</body>

</html>