<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>

</head>
<body>

    <div th:fragment="menu">
        <nav class="navbar navbar-expand-md sticky-top py-3 navbar-dark" id="mainNav-1">
            <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-camera-reels" style="font-size: 16px;">
                        <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"></path>
                        <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"></path>
                        <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                    </svg></span><span>S &amp; H MULTIMEDIA</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1" style="margin-left: 233px;">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link active" href="/home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/paquetes">Paquetes</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mi-cuenta" id="miCuenta" >Mi cuenta</a></li>
                        <li class="nav-item"><a class="nav-link" href="/carrito" id="carrito"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cart-check-fill" style="font-size: 21px;">
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"></path>
                        </svg></a></li>
                        <!--                    <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>-->
                        <li class="nav-item dropdown" id="adminMenu">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/usuarios">Usuarios</a></li>
                                <li><a class="dropdown-item" href="/compra">Compra</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"></li>
                    </ul>
                    <a class="btn btn-primary shadow" role="button" id="authButton" href="/login">Inicia Sesión</a>

                </div>
            </div>
        </nav>
        <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                const authButton = document.getElementById('authButton');
                const adminMenu = document.getElementById('adminMenu');

                document.getElementById('miCuenta').addEventListener('click', event => {
                    const token = localStorage.getItem('token');
                    if (!token) {
                        event.preventDefault();
                        window.location.href = '/login';
                    }
                });

                document.getElementById('carrito').addEventListener('click', event => {
                    const token = localStorage.getItem('token');
                    if (!token) {
                        event.preventDefault();
                        window.location.href = '/login';
                    }
                });

                function obtenerRolUsuarioActual() {
                    const token = localStorage.getItem('token');
                    if (token) {
                        try {
                            const decoded = jwt_decode(token);
                            return decoded.roles;
                        } catch (error) {
                            console.error("Error decodificando el token:", error);
                        }
                    }
                    return [];
                }

                if (localStorage.getItem('token')) {
                    authButton.textContent = 'Cerrar Sesión';
                    authButton.href = '/login';


                    // Comprobar el rol del usuario
                    const roles = obtenerRolUsuarioActual();
                    if (roles.includes('ROLE_ADMIN')) {
                        adminMenu.style.display = 'block'; // Mostrar menú Admin
                    } else {
                        adminMenu.style.display = 'none'; // Ocultar menú Admin
                    }
                } else {
                    authButton.textContent = 'Inicia Sesión';
                    authButton.href = '/login';
                    adminMenu.style.display = 'none'; // Ocultar menú Admin si el usuario no está autenticado

                }
            });
        </script>

    </div>



</body>
</html>